.incidence-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 0px 24px 24px;
    background: #eeeeee;
    color: #fbfbfb;

    height: 52px;
    left: 0px;
    top: 172px;
    background: #fa642f;
    border-bottom: 1px solid #e2e2e2;
}

.incidence-pic {
    width: 375px;
    height: 244px;
}

.vector-container {
    display: flex;
    align-items: center;
    background: #eeeeee;
}
.location-container {
    display: flex;
    align-items: center;
    background: #fbfbfb;
}

.logo-img {
    margin-right: 10px;
    margin-left: 15px;
}
.loc-img {
    margin-right: 10px;
    margin-left: 15px;
}
.description-title {
    background: #fbfbfb;
    color: #008ba2;
}
